/* Untuk Tablet */
@media (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }  
  
  .heading h2 {
    font-size: 20px;
  }
  
  .lesson {
    width: 50%;
    margin-bottom: 50px;
    float: left;
  }

  .container {
    text-align: center;
    width: max-width;
    padding: 0 15px;
    margin: 0 auto;
  }
  

}

/* Untuk Smartphone */
@media (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }  

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }  

  .btn {
    width: 50%;

  }
  
  .lesson {
    width: 25%;
  }
  
  .container {
    text-align: center;
    width: max-width;
    padding: 0 15px;
    margin: 0 auto;
  }
}