body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  width: 100%;
  padding: 65px;
  background-image: url(./images/tlj.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 25px;
  line-height:30px;
  color: yellow;
}

.top-wrapper h1:hover {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 25px;
  line-height:30px;
  color: yellow;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  line-height:5px;
  color: #27ff00;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.wa {
  background-color: #239b76;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 14px;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 10 */
  z-index: 10;
}

.header-left {
  left: 0;	
  float: left;
}

.logo {
  float: left;
  left:0;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  padding: 5px 5px;
}

.header-left h1 {
  width: 300px;
  font-size: 20px;
  color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  line-height: 50px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.lesson-wrapper {
  height: 400px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  width: 100%;	
  padding: 60px 60px;
  color: #5f5d60;
}

.heading h2 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

/* Tambahkan CSS untuk lesson */
.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  opacity: 0.5;
}

.lesson-icon img:hover {
  opacity: 0.7;
}

.lesson-icon img:active {
  opacity: 1;
}

.lesson-icon p {
  position: absolute;
  top: 60px;
  width: 100%;
  color: white;
  font-size: 24px;
}

.lesson-icon p:hover {
  opacity: 0.7;
}

.lesson-icon p:active {
  opacity: 1;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}


.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  line-height: 5px;
}

.message {
  margin: 5px;	
  padding: 20px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Tambahkan CSS untuk tag <p> yang berada didalam <footer> */
footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer a {
  color: blue;
  font-size: 12px;
}

/* Tambahkan CSS untuk tag <footer> */
footer {
  padding: 20px;
  background-color: #f7f7f7;
}