/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(./images/tlj.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 60px;
  letter-spacing: 10px;
  margin-bottom: 10px;
  color: yellow;
  text-shadow: 3px 2px 1px grey;  
  transition: letter-spacing 2s;
}

.top-wrapper h1:hover {
  opacity: 1;
  letter-spacing: 15px;
}

.top-wrapper h2 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 10px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 3px 2px 1px grey;  
}

.top-wrapper h2:hover {
  opacity: 1;
}
.top-wrapper h3 {
  opacity: 0.8;
  font-size: 36px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: yellow;
  text-shadow: 3px 2px 1px grey;  
}

.top-wrapper h3:hover {
  opacity: 1;
}

.top-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
  color: white;
  text-shadow: 1px 1px 1px black;  
}

.btn-wrapper img {
  width: 65px;
  height: 65px;
  opacity: 0.7;
}

.btn-wrapper img:hover {
  opacity: 0.9;
}

.btn-wrapper img:active {
  opacity: 1;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 24px;
  text-align: center;
  margin: 10px;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left img {
  float: left;
  height: 65px;
  width: 250px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img:hover {
  opacity: 0.7;
}

.lesson-icon img {
  opacity: 0.5;
}

.lesson-icon img:active {
  opacity: 1;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
